<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div class = "header">
<h2>Add a Trip</h2>

<a href="/user/show">Home</a>
<a href="/user/logout">Logout</a>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="/trip/build" method = "post">
	{% csrf_token %}

	<label for="destination">Destination:</label>
	<input id = "destination" name = "destination" type="text">
	<br>

	<label for="description">Description:</label>
	<input id = "description" name = "description" type="text">
	<br>

	<label for="travel_date_from">Travel Date From:</label>
	<input id = "travel_date_from" name = "travel_date_from" type="date">
	<br>

	<label for="travel_date_to">Travel Date to:</label>
	<input id = "travel_date_to" name = "travel_date_to" type="date">
	<br>

	<input type="submit" value = "Add">
</form>

</body>
</html>